
/*****Tasks*****/

/* Stylesheet zur Darstellung der Tasks im Backlog */
/* unterscheidet sich von Darstellung auf dem Board */

.task {
	width: 360px;
	height: 20px;
	float: left;
	margin: 0 0 5px 10px;
	padding: 5px;
	border: 1px solid #bfbfbf;
	background: #ffffff;
}

.taskTitle {
	width: 280px;
	height: 20px;
	float: left;
	margin: 0;
	padding: 0;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.taskPriority {
	width: 20px;
	height: 20px;
	float: left;
	margin: 0;
	padding: 0;
}

.taskDescription {
	width: 181px;
	height: 60px;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 12px;
	overflow: hidden;
}

.taskType {
	width: 20px;
	height: 20px;
	float: left;
	margin: 0;
	padding: 0;
}

.taskEdit {
	width: 20px; 
	height: 20px;
	float: left;
	margin: 0;
	padding: 0;
}


.taskDelete {
	width: 20px;
	height: 20px;
	float: left;
	margin: 0;
	padding: 0;
}



/*****Hover*****/

/* Div-Hintergrund fadet bei Mouseover zu blass-gelb */
.task:hover {
	background: #ebeac2;
	transition: background 1s;
}
